*,
html,
button,
section,
div,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $color-white;
}

body,
input,
button,
label,
textarea,
p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
p {
    line-height: 1.5em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

button {
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}
