$color-primary: #222831;
$color-secundary:#393e46;
$color-secundary-light:#393e46a4;

$color-yellow:#FEDC28;
$color-yellow-light:#feda28ab;

$color-green: #1B998B;
$color-red:#E54B4B;
$color-white: #f2f2f2;
$color-gray: #8f8f8f;


$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1441px;
