<!-- Footer -->
<footer id="layout-footer">
    <div class="container content-footer">
        <div class="footer-logo">
            <h1>Logo</h1>
        </div>


        <ul class="social-content">
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/facebook.svg'|theme }}" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/instagram.svg'|theme }}" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/twitter.svg'|theme }}" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/youtube.svg'|theme }}" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/mail.svg'|theme }}" alt="">
                </a>
            </li>
        </ul>
        <hr class="line">

        <div class="box-footer">
            <p class="copyright">&copy; Copyright 2020 - Sobre Ciência - Todos os direitos reservados</p>


            <div class="links">
                <a href="#">link</a>
                <a href="#">link</a>
            </div>

        </div>




    </div>
</footer>
