<!-- Footer -->
<footer id="layout-footer">
    <div class="container content-newslatter">
        <div class="newslatter">
            <h3 class="footer-title">BOLETIM DE NOTICIAS</h3>
            <p class="footer-subtitle">
                Deixe seu email para não perder mais nada!
            </p>
            <div class="email-local">
                <input type="text" placeholder="exemple@email.com" />
                <button
                    type="submit"
                    class="input-button footer-button send-button"
                >
                    Enviar
                </button>
            </div>
        </div>
        <div class="social">
            <h3 class="footer-title">SIGA-NOS</h3>
            <p class="footer-subtitle">Vamos interagir em outras redes!</p>



                <ul class="social-content icons-newslatter">
                    <li>
                        <a href="#">
                            <img
                                class="icon"
                                src="{{ 'assets/icons/facebook.svg'|theme }}"
                                alt=""
                            />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img
                                class="icon"
                                src="{{ 'assets/icons/instagram.svg'|theme }}"
                                alt=""
                            />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img
                                class="icon"
                                src="{{ 'assets/icons/youtube.svg'|theme }}"
                                alt=""
                            />
                        </a>
                    </li>
                </ul>




        </div>
    </div>
    <div class="content-footer">
        <div class="container whapper">
            <div class="footer-logo">
                <h4>icon</h4>
            </div>

            <div class="contato">
                <h4>Contato</h4>
                <p class="whapper-subtitle">repellendus aliquid ullam nesciunt</p>
                <ul class="social-content icons-contact">
                    <li>
                        <a href="#">
                            <img
                                class="icon"
                                src="{{ 'assets/icons/mail.svg'|theme }}"
                                alt=""
                            />
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img
                                class="icon"
                                src="{{ 'assets/icons/mail.svg'|theme }}"
                                alt=""
                            />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="others ">
                <h4>Outros</h4>
                <div class="links">
                    <a href="#" class="whapper-subtitle">repellendus aliquid</a>
                    <a href="#" class="whapper-subtitle">repellendus aliquid</a>
                </div>
            </div>

        </div>

        <p class="copyright">
            &copy; Copyright 2020 - A Ciência de Tudo - Todos os direitos
            reservados
        </p>
    </div>
</footer>
