<!-- Footer -->
<footer id="layout-footer">
    <div class="container content-footer">
        <h1>Logo</h1>

        <ul class="social-content">
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/facebook.svg'|theme }}" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/instagram.svg'|theme }}" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/twitter.svg'|theme }}" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/youtube.svg'|theme }}" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img class="icon"src="{{ 'assets/icons/mail.svg'|theme }}" alt="">
                </a>
            </li>
        </ul>
        <hr class="line">

        <div class="box-footer">
            <p>© Sobre Ciência — 2020</p>

            <div class="links">
                <a href="#">link</a>
                <a href="#">link</a>
            </div>

        </div>




    </div>
</footer>
