<!-- Header -->
<header id="layout-header">
    <div class="navbar">
        <div class="container nav-content">
            <img class="logo" src="{{ 'assets/images/logo.svg'|theme }}" alt="">
            <div class="nav-seach">
                <!-- <input type="text" placeholder="...">
                <button type="submit" class="input-button">
                    <img src="{{ 'assets/icons/search.svg'|theme }}" alt="">
                </button>
                <button class="burguer-button">
                    <img src="{{ 'assets/icons/menu.svg'|theme }}" alt="">
                </button> -->
            </div>
        </div>

        <div class="nav-links">
            <ul class="container">
                <li>
                    <a href="#">Category</a>
                </li>
                <li>
                    <a href="#">Category</a>
                </li>
            </ul>
        </div>
    </div>


</header>
