<!-- Header -->
<header id="layout-header">
    <div class="container navbar">
        LOGO
        <div class="nav-content">
            <input type="text" placeholder="...">
            <button type="submit" class="input-button">
                <img src="{{ 'assets/icons/search.svg'|theme }}" alt="">
            </button>
            <button class="burguer-button">
                <img src="{{ 'assets/icons/menu.svg'|theme }}" alt="">
            </button>
        </div>
    </div>
    <div class="nav-links">
        <ul class="container">
            <li>
                <a href="#">Category</a>
            </li>
            <li>
                <a href="#">Category</a>
            </li>
        </ul>
    </div>

</header>
