
div#article-page{
    margin-top: 6rem;

    .article-body{
        width: calc(100% - 320px);
        padding-right:5rem;
        float: left;


        .post-subtitle{
            margin: 1rem 0 6rem;
            line-height: 1.9em;
        }

        .featured-images{
            margin-bottom: 3rem;

            .feature-img{
                max-width: 760px;
            }

            .img-credits{
                font-size: 14px;
                color: $color-secundary;
                margin: 1rem 0;
                border-left: solid 1px $color-secundary;
                padding-left: 2rem;
            }
        }

        .info{
            margin: 6rem 0 9rem 0;
        }

        p{

            & + p {
                margin-bottom: 3rem;
                line-height: 1.9em;
            }
        }

        img{
            max-width: 90rem;
        }

    }

    .coments{
        margin: 9rem 0;

        .disqus-footer__wrapper{
            display: none;
        }
    }

    .other-articles{
        margin-top: 2rem;
        border: solid 1px $color-white;
        padding: 2rem;
        background: white;
        border-radius: 9px;
        position: sticky;

        a{
            text-decoration: none;
        }

        .content{
            display: flex;
        }

        .about-title{
            margin-bottom: 2rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
        }

        .title{
            color: $color-primary;

            h3{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;

            }
        }

        .feature-article{
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
            padding: 2rem;

            .img-big{
                height: 180px;
                width: 250px;
            }

            .category{
                margin: 2rem 0;
            }
        }

    }

    .small-col{
        display: flex;
        flex-direction: column;
        width: 300px;
        float: right;
        height: 100vh;
        align-items: center;
        margin-top: 18rem;

    }

}
