
div#article-page{
    margin-top: 6rem;

    .article-body{
        width: calc(100% - 320px);
        padding-right:5rem;
        float: left;

        .post-subtitle{
            margin: 1rem 0 6rem;
            line-height: 1.9em;
        }

        .featured-images{
            margin-bottom: 3rem;

            .feature-img{
                max-width: 760px;
            }

            .img-credits{
                font-size: 14px;
                color: $color-secundary;
                margin: 1rem 0;
                border-left: solid 1px $color-secundary;
                padding-left: 2rem;
            }
        }

        .info{
            margin: 6rem 0 9rem 0;
        }

        p{

            & + p {
                margin-bottom: 3rem;
                line-height: 1.9em;
            }
        }

        img{
            max-width: 90rem;
        }

    }

    .nextandprev {
        display: flex;
        justify-content: space-between;

        .prev-post{
            text-align: left;
        }

        .next-post{
            text-align: right;
        }
    }


    .more-articles{

        a{
            text-decoration: none;
        }

        .about-title{
            color: $color-secundary;
            margin-bottom: 2rem;
            text-align: center;
        }

        .content{
            display: flex;
        }

        .title{
            color: $color-primary;
            margin-top: 1rem;
            width: 250px;

            h3{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;


            }
        }

        .post-card{

            display: flex;
            flex-direction: column;
            padding: 2rem;

            // border: solid 1px $color-white;
            // border-radius: 9px;

            .img-big{
                height: 180px;
                width: 250px;
            }

        }

    }

    .small-col{
        display: flex;
        flex-direction: column;
        width: 300px;
        float: right;
        height: 100vh;
        align-items: center;
        margin-top: 18rem;

    }


    .coments{
        margin: 9rem 0;

        .disqus-footer__wrapper{
            display: none;
        }
    }


}
