footer#layout-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: -webkit-center;

    .footer-title {
        color: $color-yellow;
        text-transform: uppercase;
    }

    .footer-subtitle {
        color: $color-yellow-light;
        margin: 2rem 0 ;
    }

    .content-newslatter {
        background-color: $color-secundary;
        height: 24rem;
        width: auto;
        border-radius: 9px;
        position: relative;
        margin-bottom: -9rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .email-local {
            display: flex;
        }

        .social{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .content-footer {
        background-color: $color-primary;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    .whapper{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding-bottom: 6rem;
        align-self: center;
        width: 100%;

        h4{
            font-size: 1em;
            text-transform: uppercase;
            color: $color-yellow;
            margin-bottom: 2rem;
        }

        .whapper-subtitle{
            color: $color-white;

            &+.whapper-subtitle{
                margin-top: 0.5rem;
            }

        }
    }

    .footer-logo {
        margin-bottom: 2rem;
        display: flex;

        .logo-icon{
            height: 12rem;
        }
    }

    .social-content {
        display: flex;
        padding-left: 0;


        li {
            list-style: none;
            display: flex;
            align-items: center;

            & + li {
                margin-left: 2rem;
            }

            a {
                display: flex;
                opacity: 0.5;
                padding: 6px;
                border-radius: 50%;

                &:hover{
                    opacity: 1;
                }
            }
        }

        &.icons-newslatter{
            a{
                background: $color-yellow;
            }
        }

        &.icons-contact{
            justify-content: center;
            margin-top: 3rem;

            a{
                background: $color-white;
            }
        }

    }

    .others {
        .links{
            flex-direction: column;
            display:flex;

            a {
                text-decoration: none;
                color: $color-white;
            }
        }
    }

    .copyright {
        font-size: 1.2rem;
        text-transform: mute;
        color: #8d8d8d;
        align-self:center;
        text-transform: uppercase;
    }

    @media (max-width: $breakpoint-md) {
        .content-newslatter {
            margin: 0 2rem -9rem;
        }

        .whapper{
            justify-content: space-around;
        }
    }

    @media (max-width: $breakpoint-xs) {
        .content-newslatter{
            flex-direction: column-reverse;
            height: 50rem;

            .email-local{
                place-content: center;
            }

            .input{
                width: 20rem;

            }
        }

        .content-footer{
            height: 60rem;
        }

        .whapper{
            flex-direction: column;
            align-items: center;

            .contato{
                margin-bottom: 4rem;
            }
        }


    }

}
