header#layout-header {
    background-color: $color-primary;
    height: 9rem;

    .navbar {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-content {
            display: flex;
            align-content: center;

        }
    }

    .nav-links{
        background-color: $color-secundary;

        ul{
            display: flex;
            justify-content: flex-end;
            height: 4rem;

            li{
                list-style: none;
                display: flex;
                align-items: center;


                &+li{
                    margin-left: 3rem;
                }

                a{
                    display: flex;
                    text-decoration: none;
                    color: $color-white;
                }
            }
        }
    }
}
