header#layout-header {
    background-color: $color-primary;
    height: 9rem;

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0;
        flex-direction: column;

        .nav-content {
            display: flex;
            align-content: center;
            align-items: center;
            width: auto;
            height: 90px;
            justify-content: space-between;
            width: 100%;

            .logo{
                max-width: 16rem;
            }
        }

        .nav-seach{
            display: flex;
            align-items: center;
        }
    }

    .nav-links{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: $color-secundary;
        width: 100%;


        ul{
            display: flex;
            justify-content: flex-end;
            height: 4rem;

            li{
                list-style: none;
                display: flex;
                align-items: center;

                &+li{
                    margin-left: 3rem;
                }

                a{
                    display: flex;
                    text-decoration: none;
                    color: $color-white;

                    &:hover{
                        color: $color-yellow;
                    }
                }
            }
        }
    }

    @media (max-width: $breakpoint-md) {

        .navbar {
            .nav-content {
                justify-content: space-around;
            }
        }

        .nav-links{
            justify-content: flex-end;

            ul{
                padding-right: 3rem;
            }
        }


    }


}
