div#main {
    section#welcome {
        display: flex;
        height: 12rem;
        align-items: center;
    }

    section#featured {
        height: 45rem;
        background-color: $color-white;
        background-size: cover;
        display: flex;
        align-items: flex-end;

        .featured-box {
            height: 20rem;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.411);

            .featured-text {
                height: 100%;
                padding: 0 9rem;
                display: flex;
                flex-direction: column;
                align-self: center;
                justify-content: center;
            }

            .featured-title {
                font-size: 2.5em;
            }

            .featured-resume {
                margin: 1rem 0;
                line-height: 1.5em;
                font-size: 1.2em;
            }
        }
    }

    section#container {
        margin: 9rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .content-articles {
            .card-article {
                display: flex;
                max-width: 84rem;

                .card-article-img {
                    height: 100%;
                    width: 37rem;
                    border-radius: 9px;
                }

                .card-content{
                    display: flex;
                    flex-direction: column;
                    align-self: flex-end;
                    width: 100%;
                    height: 100%;
                    padding: 3rem;

                }

                .content-text {
                    width: 100%;
                }

                .card-article-resume {
                    margin: 2rem 0;
                }

                & + .card-article {
                    margin-top: 4rem;
                }

                .content-footer {
                    display: flex;
                    justify-content: flex-end;


                    .button-readmore {
                        text-decoration: none;
                        font-size: 1em;
                        background: $color-green;
                        color: $color-white;
                        padding: 0.2rem 1rem;
                        border-style: 20px;
                        border-radius: 20px;

                        &:hover {
                            color: $color-secundary;
                            background-color: $color-yellow;
                        }
                    }
                }

            }
        }



        .content-ads {
            display: block;

            .ads-big {
                width: 265px;
                height: 600px;
            }

            .ads-med {
                margin-top: 3rem;
                width: 265px;
                height: 253px;
            }

        }
    }

    .content-tags {
        a {
            color: $color-primary;

            &:hover {
                font-weight: bold;
                color: rgb(228, 206, 9);
            }
        }
    }

    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-bottom: 13rem;

        li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 5rem;
            height: 5rem;
            background-color: $color-primary;

            & .pag-num {
                border: solid 1px $color-primary;
                border-radius: 4px;
            }

            &:hover {
                background-color: rgb(228, 206, 9);
                border-radius: 50%;
                font-weight: bold;
            }

            a {
                color: black;
                text-decoration: none;
            }

            & + li {
                margin-left: 3rem;
            }

            &:hover {
                cursor: pointer;
                color: #ffff;

                a {
                    color: #ffff;
                }
            }
        }
    }

    .format-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;

        &.one-line {
            -webkit-line-clamp: 1;
        }

        &.max-two-line {
            -webkit-line-clamp: 2;
        }

        &.max-three-line {
            -webkit-line-clamp: 3;
        }
    }

    .card-article {
        background-color: white;
        border-radius: 9px;
    }

    .card-ads {
        color:#8f8f8f;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;

        & + .card-ads {
            margin-top: 5px;
        }
    }

    .content-tags {
        display: flex;
        align-items: center;

        img {
            margin-right: 1.5rem;
        }

        a {
            text-decoration: none;
            font-size: smaller;
            font-weight: bold;
            color: black;

            & + a {
                margin-left: 1.5rem;
            }
        }
    }
}
