div#main {
  section#welcome {
    display: flex;
    height: 34rem;
    align-items: center;

    div {
      h1 {
        align-self: center;
      }
    }
  }

  section#featured {
    height: 52rem;
    background-color: #f2f2f2;
  }
}
