input {
    border: none;
    height: 3.6rem;
    width: 25rem;
    background-color: $color-white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 80px;


    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
    border: none;
    background: $color-green;
    padding: 2px;
    height: 3.6rem;
    width: 8rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        outline: none;
    }

    &.burguer-button {
        margin-left: 3rem;
    }

    &.input-button{
        margin-left: -7.4rem;
    }

    &.send-button {
        width: 7.5rem;
    }

    &:hover {
        background-color: $color-yellow;
    }
}

figure {
    max-width: 90rem;
    margin-bottom: 3rem;

    figcaption {
        font-size: 14px;
        color: $color-secundary;
        margin: 1rem 0;
        border-left: solid 1px $color-secundary;
        padding-left: 2rem;
    }
}

.category{
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: 3px;
    margin-top: 1rem;
    text-transform: uppercase;
    color: $color-secundary;

    &:hover{
        color: $color-yellow;
    }

}

.icon {
    width: 24px;
    height: 24px;
}

.ads-big {
    width: 300px;
    height: 600px;
    border: solid 1px $color-secundary;
}

.card-ads {
    color:#8f8f8f;
    border: 1px solid $color-white;
    display: flex;
    align-items: center;
    justify-content: center;

    & + .card-ads {
        margin-top: 5px;
    }
}

.content-tags{
    display: flex;
    align-items: center;

    img {
        margin-right: 1.5rem;
    }

    a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $color-secundary;

        & + a {
            margin-left: 1.5rem;
        }

        &:hover{
            color: $color-yellow;
        }

    }
}

.container{
    max-width: 1200px;
    display: flex;
    align-content: center;
    width: auto;

}

.centralise{
    align-items: center;
}
