title = "Blog post"
url = "/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[disqus]

[related]
slug = "{{ :slug }}"

[nextAndPrev]
category = "current"
postPage = "blog/post"
==
{% set post = blogPost.post %}

<div id="article-page">
    <div class="article-body ">
        <div class="article-content margin">
            <div class="content-tags">
                {% if post.categories.count %}
                    {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}
                    {{ categoryLinks | raw }}
                {% endif %}
            </div>
            <h1 class="post-title">{{post.title}}</h1>
            <h4 class="post-subtitle"> {{ post.summary | raw }}</h4>

            {% if post.featured_images.count %}
                <div class="featured-images">
                    {% for image in post.featured_images %}

                        <img
                            data-src="{{ image.filename }}"
                            src="{{ image.path }}"
                            class="feature-img"
                            alt="{{ image.title }}"
                        />

                        {% if image.description %}
                            <p class="img-credits">{{ image.description }}</p>
                        {% endif %}

                    {% endfor %}
                </div>
            {% endif %}

            {{ post.content_html | raw }}

        </div>
        <div class="info">
            <h5>Por: Autor</h5>
            <h5>
                {% if post.categories.count %}
                    {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}

                    {{ 'rainlab.blog::lang.post.posted_byline' | trans({
                        date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans),
                        categories: categoryLinks
                    }) }}
                {% else %}
                    {{ 'rainlab.blog::lang.post.posted_byline_no_categories' | trans({
                        date: post.published_at | date('rainlab.blog::lang.post.date_format'|trans)
                    }) }}
                {% endif %}
            </h5>
        </div>

        <div class="nextandprev">
            {% set prev = nextAndPrev.prevPost %}
            {% set next = nextAndPrev.nextPost %}
            <div class="prev-post">
            {% if prev %}
                <a href="{{prev.url}}" title="{{ prev.title }}">
                    <img
                        class="icon"
                        src="{{ 'assets/icons/arrow-left.svg'|theme }}"
                        alt=""
                    />
                    <h4>
                        Anterior
                    </h4>

                </a>
            {% endif %}
            </div>
            <div class="next-post">
            {% if next %}
                <a href="{{next.url}}" title="{{ next.title }}">
                    <h4>
                        Próximo
                    </h4>
                    <img
                        class="icon"
                        src="{{ 'assets/icons/arrow-right.svg'|theme }}"
                        alt=""
                    />
                </a>
            {% endif %}
            </div>
        </div>

        <hr>

        <div class="more-articles">
            <h3 class="about-title">Veja Também</h3>
            <div class="content">
                {% for article in related %}
                {% set image = article.featured_images.first %}
                    <div class="post-card">
                        <a class="title" href="{{url('/', {'seo': article.slug})}}" title="{{article.title}}">
                            <img class="img-big" src="{{ image.path }}" alt="{{article.title}}" />
                            <h3 class="title">{{article.title}}</h>
                        </a>
                    </div>
                {% endfor %}

            </div>

        </div>
        <div class="coments">
            {% component 'disqus' %}
        </div>
    </div>

    <div class="small-col">
        <div class="card-ads ads-big">
            adsense
        </div>

    </div>
</div>
