title = "Blog post"
url = "/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"
==
{% set post = blogPost.post %}

<div id="article-page">

    <div class="article-body">
        {% if post.featured_images.count %}
            <div class="featured-images">
                {% for image in post.featured_images %}

                    <img
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        class="feature-img"
                        alt="{{ image.title }}"
                    />

                    <p class="credits">{{image.description}}</p>

                {% endfor %}
            </div>
        {% endif %}

        <div id="article-page" class="content">

            <div class="content-tags">
                {% if post.categories.count %}
                    {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}
                    {{ categoryLinks | raw }}
                {% endif %}
            </div>

            <h1>{{post.title}}</h1>

            <h4> {{ post.summary | raw }}</h4>

            {{ post.content_html | raw }}

        </div>





        <p class="info">
            {% if post.categories.count %}
                {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}

                {{ 'rainlab.blog::lang.post.posted_byline' | trans({
                    date: post.published_at | date('rainlab.blog::lang.post.date_format' | trans),
                    categories: categoryLinks
                }) }}
            {% else %}
                {{ 'rainlab.blog::lang.post.posted_byline_no_categories' | trans({
                    date: post.published_at | date('rainlab.blog::lang.post.date_format'|trans)
                }) }}
            {% endif %}
        </p>

    </div>

    <div class="other-col">
        <div class="card-ads ads-big">
            adsense
        </div>

        <div class="other-articles">
            <h4 class="about-title">Publicações recentes</h4>

            <div class="feature-article">
                <a href="#">
                    <img class="img-big" src="http://placekitten.com/g/250/188" alt="" >
                </a>
                <a href="#" class="category">category</a>
                <a href="#" class="title">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, incidunt.</h4>
            </div>

            <div class="small-articles">
                <a href="#">
                    <img class="img-small" src="http://placekitten.com/g/250/188" alt="" >
                </a>
                <div class="info">
                    <a href="#" class="category">category</a>
                    <a href="#" class="title">
                        <h4>Lorem, ipsum.</h4>
                    </a>
                </div>
            </div>

            <div class="small-articles">
                <a href="#">
                    <img class="img-small" src="http://placekitten.com/g/250/188" alt="" >
                </a>
                <div class="info">
                    <a href="#" class="category">category</a>
                    <a href="#" class="title">
                        <h4>Lorem, ipsum.</h4>
                    </a>
                </div>
            </div>

        </div>


    </div>
</div>
