title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-post"
postPage = "blog-post"
==
{% set posts = blogPosts.posts %}
<div id="main">

    {% if posts.currentPage == 1 %}
    <section id="welcome">

    </section>

    {% set featured_post = posts|first %}
    {% set featured_image = featured_post.featured_images[0].thumb(1280, 400, {mode: 'crop'}) %}

    {% put styles  %}
        <style>
            #featured { background-image: url('{{ featured_image }}'); }
        </style>
    {% endput %}

    <section id="featured" class="card-article">

        <div class="featured-box" >
            <div class="featured-text">
                <div class="content-tags">
                    {% if featured_post.categories.count %}
                        {% set categoryLinks = featured_post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}
                        {{ categoryLinks | raw }}
                    {% endif %}
                </div>

                <a class="featured-title format-text one-line" href="{{ post.url }}">
                    <h1 >
                        {{ featured_post.title }}
                    </h1>
                </a>

                <a class="featured-resume format-text max-two-line" href="{{ post.url }}">
                    {{ featured_post.summary | raw }}
                </a>

            </div>
        </div>

    </section>
    {% endif %}

    <section id="container">

        <div class="content-articles">
            {% for post in posts %}
                {% if posts.currentPage == 1 and loop.index > 1 %}
                    {% partial "blog/post-card" post=post %}
                {% endif %}
            {% else %}
                <div class="no-data">{{ blogPosts.noPostsMessage }}</div>
            {% endfor %}
        </div>
        <div class="content-ads">
            <div class="card-ads ads-big">
                space to adsense
            </div>
            <div class="card-ads ads-med">
                space to adsense
            </div>
        </div>

    </section>

    {% if posts.lastPage > 1 %}
        <nav aria-label="pagination articles">
            <ul class="pagination page-item">
                {% if posts.currentPage > 1 %}
                    <li class="pag-button pag-icon page-item">
                        <a class="icon page-link" href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}" aria-label="Previous"></a>>
                            <span aria-hidden="true">
                                <img
                                    class="icon"
                                    src="{{ 'assets/icons/chevron-left.svg'|theme }}"
                                    alt=""
                                />
                            </span>
                        </a>
                    </li>
                {% endif %}

                {% for page in 1..posts.lastPage %}
                    <li class="{{ posts.currentPage == page ? 'active' : null }}">
                        <a href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
                    </li>
                {% endfor %}


                {% if posts.lastPage > posts.currentPage %}
                    <li class="pag-button pag-right">
                        <a  href="{{ this.page.baseFileName | page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}" aria-label="Next">
                            <span class="icon"aria-hidden="true">
                                <img
                                    class="icon"
                                    src="{{ 'assets/icons/chevron-right.svg'|theme }}"
                                    alt=""
                                />
                            </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

</div>
