<div class="card-article">

    {% if post.featured_images.count %}
        {% set post_image = post.featured_images[0] %}
        <a  href="{{ post.url }}">
            <img
                class="card-article-img"
                src="{{ post_image.thumb(350, 268, {mode: 'crop'}) }}"
                alt="{{ post_image.description }}">
        </a>
    {% endif %}

    <div class="card-content">
        <div class="content-text">
            <div class="content-tags">
                {% if post.categories.count %}
                    {% set categoryLinks = post.categories | map(c => "<a href=\"#{c.url}\">#{c.name}</a>") | join(', ') %}
                    {{ categoryLinks | raw }}
                {% endif %}
            </div>
            <a class="card-article-title format-text one-line" href="{{ post.url }}">
                <h2>
                    {{ post.title }}
                </h2>
            </a>
            <a class="card-article-resume format-text max-two-line " href="{{ post.url }}">
                {{ post.summary | raw }}
            </a>

        </div>
        <!-- <div class="content-footer">
            <a class="button-readmore" href="{{ post.url }}">
                Ler

                <img
                    class="icon"
                    src="{{ 'assets/icons/lamp.svg'|theme }}"
                    alt=""
                />
            </a>

        </div> -->
    </div>
</div>
